<div class="body">
    <div class="container">
        <div class="imagem1"><img src="Book lover-bro.png"></div>
    
            <div class="login">
    
                <h2>
                    Cadastrar-se
                </h2>
    
                <label class="label" for="">Nome</label>
                <input class="user" placeholder=" Digite seu Nome" type="text" /><br>
    
                <label class="label" for="">E-mail</label>
                <input class="user" placeholder=" Digite seu E-mail" type="email" /><br>
    
                <label class="label" for="">Senha</label>
                <input class="user" placeholder=" Digite uma senha" type="password" /><br>
    
                <label class="label" for="">Confirmação de Senha</label>
                <input class="user" placeholder=" Redigite a Senha" type="password" /><br>
    
    
                <a href="" class="botao">Cadastrar</a>
    
                <div class="cadastro">
                    <p>Possui conta? <a routerLink="">Entrar</a></p>
                </div>
            </div>
        </div>
</div>