<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #36b136 !important;">
    <div class="container-fluid">   
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <img src="whiteLogo.png" style="margin: 5px;"><p href="/src/app/components/home/home.component.html"  style="color: white !important; ">Guia do Mochileiro<br>Fatecano</p>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a style="color: white;" class="nav-link active" aria-current="page" href="#"><img src="home.png"> Home</a>
          </li>
          <li class="nav-item">
            <a style="color: white;" class="nav-link active" aria-current="page" href="#"><img src="bell.png"> Notificações</a>
          </li>
          <li class="nav-item">
            <a style="color: white;" class="nav-link active" aria-current="page" href="#"><img src="book.png"> Matérias</a>
          </li>
          <li class="nav-item">
            <a style="color: white;" class="nav-link active" aria-current="page" href="#"><img src="star.png"> Valores</a>
          </li>
          <li class="nav-item">
            <a style="color: white;" class="nav-link active" aria-current="page" href=""><img src="log-in.png"> Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>    