<app-navbar></app-navbar>

  <br>
<div>
  
    <div class="container1 mb-3">
      <div>
        <h1 style="margin-top: 100px;">Termos</h1>
        <p style="color: gray;">Qual termo gostaria de acessar hoje?</p>
      </div>
      <div style="background-color: #36b136; text-align: center; width: 220px; height: 70px;" class="card col col-xl-3 col-12 col-md-6 col-lg-4">
          <div class="card-body">
          <h5 class="card-title">+ Adicionar Turma</h5>
          </div>
      </div>
    </div>
  
  <br>
  
  <div class="container-fluid">
  <div class="row gap-4 d-flex justify-content-center">
  
    <div style="background-color: rgb(118, 202, 125); text-align: center;" class="card col col-xl-3 col-12 col-md-6 col-lg-4">
      <div style="height: 220px; padding: 100px;" class="card-body">
        <h5 class="card-title">1º Termo</h5>
      </div>
    </div>
  
    <div style="background-color: rgb(66, 130, 72) ; text-align: center;" class="card col col-xl-3 col-12 col-md-6 col-lg-4">
      <div style="height: 220px; padding: 100px" class="card-body">
        <h5 class="card-title">2º Termo</h5>
      </div>
    </div>
  
    <div style="background-color: rgb(54, 137, 61); text-align: center;" class="card col col-xl-3 col-12 col-md-6 col-lg-4">
      <div style="height: 220px; padding: 100px" class="card-body">
        <h5 class="card-title">3º Termo</h5>
      </div>
    </div>
  
    <div style="background-color: rgb(64, 108, 68); text-align: center;" class="card col col-xl-3 col-12 col-md-6 col-lg-4">
      <div style="height: 220px; padding: 100px" class="card-body">
        <h5 class="card-title">4º Termo</h5>
      </div>
    </div>
  
    <div style="background-color: rgb(77, 204, 87); text-align: center;" class="card col col-xl-3 col-12 col-md-6 col-lg-4">
      <div style="height: 220px; padding: 100px" class="card-body">
        <h5 class="card-title">5º Termo</h5>
      </div>
    </div>
  
    <div style="background-color: rgb(101, 130, 103); text-align: center;" class="card col col-xl-3 col-12 col-md-6 col-lg-4">
      <div style="height: 220px; padding: 100px" class="card-body">
        <h5 class="card-title">6º Termo</h5>
      </div>
    </div>
  
    <div style="background-color: rgb(125, 160, 130); text-align: center;" class="card col col-xl-3 col-12 col-md-6 col-lg-4">
      <div style="height: 220px; padding: 100px" class="card-body">
        <h5 class="card-title">TG</h5>
      </div>
    </div>
  
   </div>
    </div>
</div>