<div class="body">
    <div class="container">
        <div class="imagem1"><img src="Learning-bro.png"></div>
    
            <div class="login">
                <img class="imagem2" src="Logo.png" >
    
                <h2>
                    Guia do Mochileiro <br>
                    fatecano
                </h2>
    
                <label class="label" for="">E-mail</label>
                <input class="user" placeholder=" Digite seu E-mail" type="email" /><br>
    
                <label class="label" for="">Senha</label>
                <input class="user" placeholder=" Digite a Senha" type="password" /><br>
    
    
                <a routerLink="home" class="botao">Entrar</a>
    
                <div class="cadastro">
                    <p>Ainda não possui conta? <a routerLink="register">Cadastre-se</a></p>
                </div>
            </div>
        </div>
</div>